In [1]:
import pandas as pd

In [3]:
excelFilePath = "data.xlsx"

# data frame
df = pd.read_excel(excelFilePath)

print(df)

      Name  Age  Height  Weight
0    Alice   25     165      60
1      Bob   30     175      70
2  Charlie   28     180      75
3    David   22     160      55
4    Emily   35     170      65

In [4]:
df.describe()

             Age      Height     Weight
count   5.000000    5.000000   5.000000
mean   28.000000  170.000000  65.000000
std     4.949747    7.905694   7.905694
min    22.000000  160.000000  55.000000
25%    25.000000  165.000000  60.000000
50%    28.000000  170.000000  65.000000
75%    30.000000  175.000000  70.000000
max    35.000000  180.000000  75.000000